name: Schedule

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  schedule:
    name: Schedule
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get node version
        id: node-version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
      - name: Use node ${{ matrix.node }}
        uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{ steps.node-version.outputs.NODE_VERSION }}
      - run: node --version

      - run: npm ci
      - run: npm run prepare-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
