name: TypeDoc

on:
  - push

jobs:
  typedoc:
    name: TypeDoc
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Get node version
        id: node-version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
      - name: Use node ${{ matrix.node }}
        uses: actions/setup-node@v4.2.0
        with:
          node-version: ${{ steps.node-version.outputs.NODE_VERSION }}
      - run: node --version

      - run: npm ci
      - run: npm run build-docs

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: docs
          clean: true
          dry-run: ${{ github.ref != 'refs/heads/main' }}
